<body> 
    <div class="container">  
        <header class="jumbotron bg my-5">
            <h1 class="display-4 text-white">Arak Dentist!</h1>
            <p class="lead text-white"> Arak</p>
            <br class="my-5">
            <p class="lead ">
                <%=link_to "new Appointment", new_appointment_path, class:"btn btn-light"%> 
            </p>
        </header> 

    </div> 
</body>